ul,li,div,body,h1,h2,h3{padding:0; margin:0;}
body{background-color:#effef;font-family:Arial, Helvetica, sans-serif;}
ul li {list-style:none;}
.clear{clear:both;}

.header{background-color:#202020;}
.header h1{padding:20px; color:#FFFFFF;font-family:Electrolize;}
.menu li{float:left;}
.menu a{display:block;text-decoration:none;color:#CCCCCC;padding:1em;}
.menu a:hover{background-color:#303030;color:#FFFFFF;}

.body{margin:auto; max-width:1200px; width:100%;}

.form-signin {width: 350px;margin: 50px auto;text-align: center}

.playerContainer{float:left; margin:2em;}
.playerContainer .player-name {font-weight: bold;font-size: 18px;line-height: 18px;margin-right:20px;}
.playerContainer .badge {vertical-align:top;}
.playerContainer .log {display:none;}

ul.board {border-right:1px solid #ccc;border-bottom:1px solid #ccc;overflow:hidden;margin-top:10px;}
.board li{border-left:1px solid #ccc;border-top:1px solid #ccc;width:5px; height:5px;float:left;}
.board .hit{background-color:orange;}
.board .miss{background-color:#ccccff;}
.board .hitsunk{background-color:red;}
.board .samespot{background-color:black;}
.board .position {background-color: black;}
.board .decision {background-color: green;}
.board .impossible {background-color: red;}

.hit{color:orange;}
.miss{color:#ccccff;}
.hitsunk{color:red;}
.samespot{color:black;}

.available-ships {overflow: hidden;}
.available-ships li {width: 5px;height: 5px;background-color: #ccc;float: left;}
.available-ships li.shape {background-color: black;}
.available-ships ul {width: 40px;float: left;margin: 5px;}
.available-ships ul.dragging {opacity: 0.3;}




